# Zadanie domowe - Obróbka danych
* Twoim zadaniem jest wykonanie obróbki danych zawartych w załączonym pliku CSV.
* Pozbądź się wszystkich rzędów które zawierają duplikaty
* Rozbij kolumnę `'Name'` na dwie kolumny `'Imie'` i `'Nazwisko'`
* Usuń kolumnę `'Name'`
* Napraw rzędy które zawierają brakuące dane
* Zmień nazwy kolumn:
    - `'Age'` -> `'Wiek'`
    - `'Height'` -> `'Wzrost'`
    - `'Weight'` -> `'Waga'`
    - `'Address'` -> `'Adres'`
      
* Dodaj kolumnę 'BMI' obliczoną jako `Waga / (Wzrost / 100) ^ 2`
* Posortuj DataFrame po kolumnie 'BMI' malejąco
* Zapisz zmodyfikowany DataFrame do pliku CSV
* Wykorzystaj nowo nabytą wiedzę z biblioteki Pandas
* Prześlij na discordzie (`#modul-4-zad3`) notebook z rozwiązaniem oraz plik CSV z wynikami

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('27__dane.csv',sep=';')
df
#sep=None, engine="python")

,Age,Name,Address,Height,Weight
0,23.0,Shawn Levine,"463 Lewis Lake\nHernandezfurt, WV 74504",174.0,61.0
1,100.0,Jeffery Davis,NaN,168.0,62.0
2,28.0,Angela Potter,NaN,NaN,60.0
3,30.0,Jacob Daugherty,"91528 Ballard Falls Apt. 779\nEast Gregory, SD...",170.0,81.0
4,99.0,Zachary Watson,"3582 Tracy Lakes\nNew Shelly, WY 32429",179.0,85.0
...,...,...,...,...,...
1095,21.0,Paul Scott,"795 Melissa Forge Suite 460\nMonicaton, KY 11184",196.0,68.0
1096,88.0,Donna Rios,"59669 Shelby Meadows\nSaraside, WV 95598",184.0,NaN
1097,44.0,Brad Allen,NaN,176.0,89.0
1098,51.0,Chad Kennedy,Unit 9710 Box 4847\nDPO AE 62031,199.0,NaN
1099,48.0,Jason Elliott,"82102 Lee Drive Apt. 539\nKellymouth, MP 18346",188.0,61.0

In [3]:
# 2. Usuń duplikaty
df = df.drop_duplicates()

In [4]:
# 3. Rozbij kolumnę 'Name' na 'Imie' i 'Nazwisko'
df = df.copy()
df[['Imie', 'Nazwisko']] = df['Name'].str.split(pat=' ', n=1, expand=True)
#df[['Imie', 'Nazwisko']] = df['Name'].str.split(' ', 1, expand=True)

In [5]:
# 4. Usuń kolumnę 'Name'
df = df.drop(columns=['Name'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 1098
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       903 non-null    float64
 1   Address   886 non-null    object
 2   Height    916 non-null    float64
 3   Weight    902 non-null    float64
 4   Imie      890 non-null    object
 5   Nazwisko  890 non-null    object
dtypes: float64(3), object(3)
memory usage: 54.7+ KB

In [7]:
# Naprawiam rzędy, które zawierają brakujące dane - najpierw szukam braków
df.isnull()

        Age  Address  Height  Weight   Imie  Nazwisko
0     False    False   False   False  False     False
1     False     True   False   False  False     False
2     False     True    True   False  False     False
3     False    False   False   False  False     False
4     False    False   False   False  False     False
...     ...      ...     ...     ...    ...       ...
1093  False    False   False   False   True      True
1094   True    False   False   False  False     False
1095  False    False   False   False  False     False
1096  False    False   False    True  False     False
1098  False    False   False    True  False     False

[1000 rows x 6 columns]

In [8]:
df.isnull().sum()

Age          97
Address     114
Height       84
Weight       98
Imie        110
Nazwisko    110
dtype: int64

In [9]:
# 5. Napraw brakujące dane
# liczby → medianą, teksty → string 'nieznane'
df = df.copy()
for col in df.select_dtypes(include=['float64', 'int64']).columns:
    df[col] = df[col].fillna(df[col].median())
    #print(f"mediana {df[col].median()}")
    #print(f"średnia {df[col].mean()}")

for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].fillna('nieznane')

In [10]:
# 6. Zmień nazwy kolumn
#df = df.copy()
df = df.rename(columns={
    'Age': 'Wiek',
    'Height': 'Wzrost',
    'Weight': 'Waga',
    'Address': 'Adres'
})

In [11]:
# 7. Dodaj kolumnę BMI = Waga / (Wzrost / 100)^2
df['BMI'] = df['Waga'] / (df['Wzrost'] / 100) ** 2

In [12]:
# 8. Posortuj po BMI malejąco
df = df.sort_values(by='BMI', ascending=False)

In [13]:
# 9. Zapisz wynik do nowego pliku CSV
df.to_excel("27plik.xlsx")
output_path = "27__dane_wynikowe.csv"
df.to_csv(output_path, index=False)

print(f"✅ Plik został zapisany jako: {output_path}")

✅ Plik został zapisany jako: 27__dane_wynikowe.csv

Plik Excela wygląda poprawnie, plik CSV wygląda źle, tak jakby Python wstawiał jakieś znaki nowych linii (LF), aby tego uniknąć, poniżej przed zapisanie df do pliku CSV, usunięto znaki LF i zastąpiono je spacjami.

In [14]:
df = df.replace({r'[\r\n]+': ' '}, regex=True)
df.to_csv("27__dane_wynikowe2.csv", index=False, sep=";")